<div  class="boundmainimage">

<p class="titleText boingInUp"><strong> Cleaning carpets is our business!</strong></p>


  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/tinybubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	    <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	<img class=" swashIn img-responsive center-block " src="images/diverse1.png"></img>
</div>
