/* 1, 2 , 3 bubbles! Bubbles! */  

  <img src="images/mediumbubbles.png" class="bubbles5"></img>
   <img src="images/tinybubbles.png" class="bubbles2"></img>
     <img src="images/3smallbubbles.png" class="bubbles"></img>
   <img src="images/mediumbubbles.png" class="bubbles2"></img>
     <img src="images/3smallbubbles.png" class="bubbles4"></img>
   <img src="images/mediumbubbles.png" class="bubbles4"></img>
     <img src="images/3smallbubbles.png" class="bubbles"></img>
    <img src="images/3smallbubbles.png" class="bubbles2"></img>
	  <img src="images/3smallbubbles.png" class="bubbles4"></img>
	  <img src="images/mediumbubbles.png" class="bubbles5"></img>
   <img src="images/mediumubbles.png" class="bubbles2 "></img>
    <img src="images/mediumbubbles.png" class="bubbles5"></img>
	    <img src="images/3smallbubbles.png" class="bubbles2"></img>
	  <img src="images/mediumbubbles.png" class="bubbles5"></img>
   <img src="images/mediumbubbles.png" class="bubbles2 "></img>
    <img src="images/mediumbubbles.png" class="bubbles5"></img>