 <div class="boundmainimagewide">

<p class="titleText">Learn about the best team in floor cleaning</p> 
    <img class="tinRightIn van img-responsive center-block" src="images/whitevan.png"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/tinybubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	    <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <p class="middleText">Clean Path hates stains more than anyone!</p> 
</div> 
