 <div id="mainimage" class="">
<div class="lefttext" id=""><p class="titleText"><strong> Working up a Sweat <br>on a Saturday?</strong></p><br><p class="middleText"> Let Clean Path handle the <br>Tile and Grout Instead!</p> </div>
<div class="rightimage">
    <img src="images/cleanlady1.png" class=""></img>
      </div>
</div> 
  <!-- Controls -->

<div  class="row  middle ">
    <div class="">
    <div class="col-md-8" >
    </div>
      <div class="col-md-4" ng-include src="'../views/table.html'">
  
       </div>
     
       
</div>
</div> 