<p>Your furniture is one of your biggest investments, so choosing who to do your upholstery cleaning is no small decision. </p><br>
<ul>
	<li>Clean Path upholstery cleaning technicians are specially trained in the care of all fabric types, even the most delicate</li>
	<li>Our technicians use specially designed tools to gently clean folds and crevices</li>
	<li>Convenient appointments to fit your busy schedule - including Saturdays</li>
	<li>Extra attention paid to trouble spots</li>
	<li>Specialized equipment, for more powerful extraction and quicker drying</li>
</ul>
<p>
Clean Path uses natural steam to clean deep into upholstery fabric to make your furniture look like new for a very small fraction of the cost of having it replaced or reupholstered. We can remove most stains and smells and we can usually restore the vibrant color and beauty of the fabric.
</p><br><img class="textleft img-thumbnail" src="../images/furniture2.jpg"></img> <p>
We pre-inspect your furniture to determine the color fastness and stability of the fabric before cleaning. We will also advice of any permanent staining that cannot be treated. We will pre-vacuum the upholstery to remove all dry soil contaminants such as household dust, dust mites, pollen and dander. We protect your floors with absorbent material to prevent any over-spray from getting on wood furniture or hardwood floors.
<br><br>
The fabric is sprayed with special cleaning compounds specifically designed for your fabric type and soiled condition. The pre-spray is worked into the fabric using a white towel, hand bonnet or a horsehair brush depending on the type of upholstery.
<br><br>
Once the soil has been loosened, we will thoroughly flush the fabric with specially designed extraction tools. This step sanitizes and deodorizes the fabric. The water pressure is tightly regulated so that the fabric does not become over-saturated.
<br><br>
The furniture is pH neutralized so that there is never a sticky residue left behind. This treatment is applied by hand after rinsing depending on the soiled condition of the fabric.
<br><br>
If any spots are not removed during the cleaning process, specialty-spotting techniques are employed. We use written procedures that cover every situation we have ever encountered.</p>