<div id='vaccums' class=" container boundmainimage row">

<div class="lefttext1  col-md-6 boingInUp" id=""><p class="titleText"><strong>Sit on a clean couch<br>This year!</strong></p><br><p class="middleText">Clean Path cleans<br>furniture back to new!</p> </div>
  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/tinybubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
     <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	    <img src="images/3smallbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
	  <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
   <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img src="images/mediumbubbles.png" ng-random-bubble ng-classes="bubbleMaker"></img>
    <img class="img-responsive center-block  col-md-6 vaccums swashIn"src="images/vaccums1.png" class=""></img>

</div> 
