

  <form id='viewcart'>  
  
  <input type="button" class="btnmod btn btn-primary" data-toggle="collapse" data-target="#carpetclean" value="Carpet Cleaning" style="width:100%">
        
        <table id="carpetclean" class="table-stripe clean  panel-collapse-in">
<thead>
        <tr>
       <th></th>
       <th>Clean</th> 
       <th>Protect</th>
       <th>Deodorize</th>
</tr>
</thead>
<tbody> <tr>
    <td>Room(s)</td><td><select  id='roomsclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='roomsprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
</tr>
 <tr>
    <td> Staircase(s)</td><td><select  id='staircasesclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='staircasesprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
</tr>
 <tr>
    <td> Bath/Laundry(s)</td><td><select  id='bathsclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='bathsprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
  </tr>
   <tr>
    <td> Hallway(s)</td><td><select  id='hallwaysclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='hallwaysprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td></tr>
</tbody>
</table> 
        <button type="button" class="btnmod btn btn-primary" data-toggle="collapse" data-target="#tileclean" value="" style='width:100%'><span class="glyphicon glyphicon glyphicon-chevron-down glyphicon-align-right" style='float:right'aria-hidden="true"></span>Tile Cleaning</button>
        <table id='tileclean' class='table-stripe clean panel-collapse collapse'>
<thead>
        <tr>
       <th></th>
       <th>Tile Clean</th> 
       <th>Clear Seal</th>
       <th>Color Seal</th>
</tr>
</thead>
<tbody>
  <tr>
    <td> Room(s)</td><td><select  id='roomsclean2' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='roomsclear1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td><select  id='roomscolorseal1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>
</tr>
 <tr>
    <td>Staircase(s)</td><td><select  id='staircasesclean2' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='staircasesclear1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td><select  id='staircasescolorseal1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>
</tr>
 <tr>
    <td> Bath/Laundry(s)</td><td><select  id='bathsclean2' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='bathsclear1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td><select  id='bathscolorseal1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>
  </tr>
   <tr>
    <td> Hallway(s)</td><td><select  id='hallwaysclean2' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='hallwaysclear1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td><select  id='hallwayscolorseal1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td></tr>
</tbody>
</table> 
 <button type='button'  class="btnmod btn btn-primary" data-toggle="collapse" data-target="#sofaclean" aria-expanded="false" aria-controls="sofaclean"  value="Furniture Cleaning" style='width:100%'><span class="glyphicon glyphicon glyphicon-chevron-down glyphicon-align-right" style='float:right'aria-hidden="true"></span>Furniture Cleaning</button>
<table id="sofaclean" class='table-stripe clean panel-collapse collapse'>
<thead>
        <tr>
       <th></th>
       <th>Clean</th> 
       <th>Protect</th>
       <th>Deodorize</th>
</tr>
</thead>
<tbody>
  <tr>
    <td> Sofa(s)</td><td><select  id='sofasclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='sofasprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
</tr>

 <tr>
    <td> Sectional(s)</td><td><select  id='sectionalsclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='sectionalsprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
</tr>
 <tr>
    <td> Loveseat(s)</td><td><select  id='loveseatsclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='loveseatsprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
  </tr>
   <tr>
    <td> Chair(s)</td><td><select  id='chairsclean1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select></td>

<td><select  id='chairsprotect1' size='1'>
  <option value='0'>0</option>
  <option value='1'>1</option>
  <option value='2'>2</option>
  <option value='3'>3</option>
   <option value='4'>4</option>
  <option value='5'>5</option>
  <option value='6'>6</option>
  <option value='7'>7</option>
   <option value='8'>8</option>
  <option value='9'>9</option>
</select>  </td>

<td>Free!</td>
    </tr>
    </tbody>
</table>
   
       <h3> Total: <small id='total'>$0</small></h3>  <input class="btn btn-default" id="cartsubmit" type="submit" value="Submit"></form>