 <div class="boundmainimagewide container row">
 <img src="images/tinybubbles.png" class="bubbles3"></img>

  <img src="images/3smallbubbles.png" class="bubbles5"></img>
   <img src="images/mediumbubbles.png" class="bubbles2"></img>

 <img src="images/tinybubbles.png" class="bubbles"></img>
<img src="images/3smallbubbles.png" class="bubbles5 "></img>
<div class="lefttext1 col-md-7 boingInUp"> <p class="titleText"> <strong> Working up a Sweat <br>on a Saturday?</strong></p><br><p class="middleText"> Let Clean Path handle the <br>Tile and Grout Instead!</p> </div>
  <img src="images/mediumbubbles.png" class="bubbles2 "></img>
  <img src="images/mediumbubbles.png" class="bubbles5"></img>
 
  <img src="images/mediumbubbles.png" class="bubbles"></img>
   <img src="images/tinybubbles.png" class="bubbles2 "></img>
    <img src="images/mediumbubbles.png" class="bubbles5"></img>
   <img class="col-md-5 img-responsive swashIn rightimage center-block " src="images/cleanlady2.png" ></img>
    <img src="images/mediumbubbles.png" class="bubbles5"></img>
 <img src="images/3smallbubbles.png" class="bubbles"></img>
 
   <img src="images/mediumbubbles.png" class="bubbles"></img>
   <img src="images/tinybubbles.png" class="bubbles4"></img>
    <img src="images/3smallbubbles.png" class="bubbles2"></img>
	  <img src="images/mediumbubbles.png" class="bubbles5"></img>
   <img src="images/bigbubbles.png" class="bubbles3 "></img>
    <img src="images/tinybubbles.png" class="bubbles5"></img>
</div> 


